[
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a",
    "body": "",
    "status": 200,
    "response": {
      "publish_key": "09af5054cf23381ad666ebbd1abeb6d9821ce507",
      "name": "99productrules.com",
      "versions": [
        {
          "testing": false,
          "locked": true,
          "number": 1,
          "active": false,
          "service_id": "54nWWFJicKgbdVHou26Y6a",
          "staging": false,
          "created_at": "2018-07-19T15:59:00Z",
          "deleted_at": null,
          "comment": "",
          "updated_at": "2018-07-19T16:00:43Z",
          "deployed": false
        }
      ],
      "deleted_at": null,
      "created_at": "2018-07-19T15:59:00Z",
      "comment": "",
      "customer_id": "1FBLnPD8Y19zEASHfCMNSu",
      "updated_at": "2019-02-27T09:02:13Z",
      "id": "54nWWFJicKgbdVHou26Y6a"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "PUT",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/1/clone",
    "body": "",
    "status": 200,
    "response": {
      "testing": false,
      "locked": false,
      "number": 2,
      "active": false,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "staging": false,
      "created_at": "2019-02-27T09:02:04Z",
      "deleted_at": null,
      "comment": "",
      "updated_at": "2019-02-27T09:02:12Z",
      "deployed": false
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json",
      "Fastly-RateLimit-Remaining",
      "988",
      "Fastly-RateLimit-Reset",
      "1551261600"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/dictionary",
    "body": "",
    "status": 200,
    "response": [
      {
        "version": 2,
        "name": "secrets",
        "deleted_at": null,
        "service_id": "54nWWFJicKgbdVHou26Y6a",
        "created_at": "2018-07-19T16:00:41Z",
        "write_only": true,
        "updated_at": "2019-02-27T09:07:55Z",
        "id": "6tlJbZRVUMSvAV6QLUKKrm"
      },
      {
        "version": 2,
        "name": "strain_action_roots",
        "deleted_at": null,
        "service_id": "54nWWFJicKgbdVHou26Y6a",
        "created_at": "2018-07-19T16:00:41Z",
        "write_only": true,
        "updated_at": "2019-02-27T09:07:55Z",
        "id": "6tmAIs0aCfNXF6zsmtNScQ"
      },
      {
        "version": 2,
        "name": "strain_allow",
        "deleted_at": nu[...]
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/backend",
    "body": "",
    "status": 200,
    "response": [
      {
        "max_tls_version": null,
        "ssl_client_cert": null,
        "hostname": "example.com",
        "error_threshold": 0,
        "first_byte_timeout": 15000,
        "client_cert": null,
        "weight": 100,
        "address": "example.com",
        "updated_at": "2019-02-27T09:07:55Z",
        "connect_timeout": 1000,
        "ipv4": null,
        "ssl_ciphers": null,
        "name": "addr example.com",
        "port": 443,
        "between_bytes_timeout": 10000,
        "ssl_client_key": null,
        "ssl_ca_cert": null,
        "auto_loadbalance": false,
        "ssl_check_cert": false,
        "shield": null,
        "override_host": null,
        "service_id": "54nWWFJicKgbdVHou26Y6a",
        "request_condition": "",
        "ssl_cert_hostname": null,
        "ssl_hostname": null,
        "ssl_sni_hostname": null,
        "min_tls_version": null,
        "ipv6": null,
        "version": 2,
        "deleted_at": null,
        "healthcheck": null,
        "max_conn": 200,
        "use_ssl": true,
        "created_at": "2018-07-19T15:59:00Z",
        "comment": ""
      },
      {
        "max_tls_version": null,
        "ssl_client_cert": null,
        "hostname": "adobeioruntime.net",
        "error_threshold": 0,
        "first_byte_timeout": 60000,
        "client_cert": null,
        "weight": 100,
        "address": "adobeioruntime.net",
        "updated_at": "2019-02-27T09:07:55Z",
        "connect_timeout": 1000,
        "ipv4": null,
        "ssl_ciphers": null,
        "n[...]
  {
    "scope": "https://api.fastly.com:443",
    "method": "PUT",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/dictionary/6tlJbZRVUMSvAV6QLUKKrm/item/OPENWHISK_NAMESPACE",
    "body": "item_value=---",
    "status": 200,
    "response": {
      "dictionary_id": "6tlJbZRVUMSvAV6QLUKKrm",
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "item_key": "OPENWHISK_NAMESPACE",
      "item_value": "---"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json",
      "Fastly-RateLimit-Remaining",
      "987",
      "Fastly-RateLimit-Reset",
      "1551261600"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/vcl/strains.vcl",
    "body": "",
    "status": 200,
    "response": {
      "version": 2,
      "name": "strains.vcl",
      "content": "# This file handles the strain resolution\nset req.http.X-Root-Path = \"\";\nset req.http.X-Strain = \"default\";\n",
      "deleted_at": null,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "main": false,
      "created_at": "2018-07-19T16:00:40Z",
      "updated_at": "2019-02-27T09:07:55Z"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/vcl/reset.vcl",
    "body": "",
    "status": 200,
    "response": {
      "version": 2,
      "name": "reset.vcl",
      "content": "",
      "deleted_at": null,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "main": false,
      "created_at": "2018-12-13T19:17:08Z",
      "updated_at": "2019-02-27T09:07:55Z"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/vcl/params.vcl",
    "body": "",
    "status": 200,
    "response": {
      "version": 2,
      "name": "params.vcl",
      "content": "# This file handles the URL parameter whitelist\n\n",
      "deleted_at": null,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "main": false,
      "created_at": "2018-10-29T06:03:05Z",
      "updated_at": "2019-02-27T09:07:55Z"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/vcl/dynamic.vcl",
    "body": "",
    "status": 200,
    "response": {
      "version": 2,
      "name": "dynamic.vcl",
      "content": "# This section handles the strain resolution\nset req.http.X-Version = req.http.X-Version + \"; src=1; cli=0.13.6-pre.9; rev=50ba40488625b07b033555843d5285d086a8f9af\";\n",
      "deleted_at": null,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "main": false,
      "created_at": "2018-10-29T06:03:06Z",
      "updated_at": "2019-02-27T09:07:55Z"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "GET",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/vcl/helix.vcl",
    "body": "",
    "status": 200,
    "response": {
      "version": 2,
      "name": "helix.vcl",
      "content": "",
      "deleted_at": null,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "main": true,
      "created_at": "2018-07-19T16:00:41Z",
      "updated_at": "2019-02-27T09:07:55Z"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json"
    ]
  },
[...]
  {
    "scope": "https://api.fastly.com:443",
    "method": "PUT",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/dictionary/6tlJbZRVUMSvAV6QLUKKrm/item/OPENWHISK_AUTH",
    "body": "item_value=Basic%20bm9wZQ%3D%3D",
    "status": 200,
    "response": {
      "dictionary_id": "6tlJbZRVUMSvAV6QLUKKrm",
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "item_key": "OPENWHISK_AUTH",
      "item_value": "Basic bm9wZQ=="
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json",
      "Fastly-RateLimit-Remaining",
      "986",
      "Fastly-RateLimit-Reset",
      "1551261600"
    ]
  },
[...]
  {
    "scope": "https://api.fastly.com:443",
    "method": "PUT",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/vcl/helix.vcl/main",
    "body": "*",
    "status": 200,
    "response": {
      "version": 2,
      "name": "helix.vcl",
      "content": "",
      "deleted_at": null,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "main": true,
      "created_at": "2018-07-19T16:00:41Z",
      "updated_at": "2019-02-27T09:07:55Z"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json",
      "Fastly-RateLimit-Remaining",
      "980",
      "Fastly-RateLimit-Reset",
      "1551261600"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "PUT",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/version/2/activate",
    "body": "",
    "status": 200,
    "response": {
      "testing": false,
      "locked": true,
      "number": 2,
      "active": true,
      "service_id": "54nWWFJicKgbdVHou26Y6a",
      "staging": false,
      "created_at": "2019-02-27T09:07:55Z",
      "deleted_at": null,
      "comment": "",
      "updated_at": "2019-02-27T09:08:00Z",
      "deployed": false,
      "msg": "Warning: Unused table `strain_github_static_magic`\nat: (input Line 956 Pos 7)\ntable strain_github_static_magic {\n------##########################--"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json",
      "Fastly-RateLimit-Remaining",
      "979",
      "Fastly-RateLimit-Reset",
      "1551261600"
    ]
  },
  {
    "scope": "https://api.fastly.com:443",
    "method": "POST",
    "path": "/service/54nWWFJicKgbdVHou26Y6a/purge_all",
    "body": "",
    "status": 200,
    "response": {
      "status": "ok"
    },
    "rawHeaders": [
      "Status",
      "200 OK",
      "Content-Type",
      "application/json",
      "Fastly-RateLimit-Remaining",
      "978",
      "Fastly-RateLimit-Reset",
      "1551261600"
    ]
  }
]
